In [1]:
import pandas as pd

In [2]:
df_sch = pd.read_csv("./data/0_raw/cy07_msu_sch_qqq.csv")

In [6]:
df_sch.shape

(21903, 199)

In [7]:
# columns I find interesting
columns_to_keep = []
with open("./data/reference/columns_to_keep_sch_qqq.txt") as text_file:
    for line in text_file:        
        columns_to_keep.append(line.strip())

In [8]:
df_sch.drop(columns=df_sch.columns.difference(columns_to_keep), inplace=True)
df_sch.shape

(21903, 34)

In [9]:
df_sch.sample(5)

,CNTRYID,CNT,CNTSCHID,CYC,NatCen,Region,STRATUM,SC001Q01TA,SC013Q01TA,SC017Q01NA,...,SC018Q01TA02,SC018Q02TA01,SC018Q02TA02,SC018Q05NA01,SC018Q05NA02,SC018Q06NA01,SC018Q06NA02,SC018Q07NA01,SC018Q07NA02,SC003Q01TA
1402,36.0,AUS,3600430.0,07MS,3600,3600.0,AUS0515,5.0,2.0,1.0,...,40.0,90.0,40.0,90.0,40.0,40.0,20.0,4.0,NaN,2.0
1000,36.0,AUS,3600022.0,07MS,3600,3600.0,AUS0205,3.0,1.0,3.0,...,15.0,35.0,15.0,35.0,15.0,8.0,NaN,NaN,2.0,3.0
15786,643.0,RUS,64300677.0,07MS,64300,64300.0,RUS2222,1.0,1.0,3.0,...,1.0,30.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
6954,250.0,FRA,25000077.0,07MS,25000,25000.0,FRA0101,3.0,1.0,2.0,...,13.0,86.0,10.0,70.0,12.0,14.0,1.0,5.0,0.0,5.0
13034,498.0,MDA,49800206.0,07MS,49800,49800.0,MDA0008,1.0,1.0,3.0,...,11.0,12.0,11.0,12.0,11.0,0.0,0.0,0.0,0.0,3.0

In [10]:
df_sch.to_csv("./data/1_processed/school_questionnaire.csv",index=False)

# Teacher questionnare

In [3]:
df_tch = pd.read_csv("./data/0_raw/cy07_msu_tch_qqq.csv")

In [4]:
df_tch.shape

(107367, 351)

In [13]:
# columns I find interesting
columns_to_keep_tch = []
with open("./data/reference/columns_to_keep_tch_qqq.txt") as text_file:
    for line in text_file:        
        columns_to_keep_tch.append(line.strip())

In [15]:
df_tch.drop(columns=df_tch.columns.difference(columns_to_keep_tch), inplace=True)
df_tch.shape

(107367, 24)

In [16]:
df_tch.to_csv("./data/1_processed/teacher_questionnaire.csv",index=False)